@model bs.LicenseManager.Core.ViewModel.ProductsIndexView

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Elenco prodotti</title>
</head>
<body>
<p>
    <a asp-action="Create">Crea nuovo</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>Nome</th>
            <th>Descrizione</th>
            <th>Attivo</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.ProductsList) {
        <tr>
            <td>@item.Name</td>
            <td>@item.Description</td>
            <td>@item.Active</td>
            <td>
                @Html.ActionLink("Dettaglio", "Details", new { id = item.Id }) |
                @Html.ActionLink("Modifica", "Edit", new { id = item.Id }) |
                @Html.ActionLink("Elimina", "Delete", new { id = item.Id })
            </td>
        </tr>
}
    </tbody>
</table>
</body>
</html>
